Project_Development_Phase/Sprint2/flows.json
[{"id":"f8ddcc582e819059","type":"tab","label":"Smart Solutions for Railways","disabled":false,"info":"","env":[]},{"id":"9635998f4d82a2f6","type":"ibmiot in","z":"f8ddcc582e819059","authentication":"apiKey","apiKey":"c4bf65cc53634c32","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":740,"wires":[["f129e009af7570e4","7bf986991d5f78c6"]]},{"id":"f129e009af7570e4","type":"debug","z":"f8ddcc582e819059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":740,"wires":[]},{"id":"7bf986991d5f78c6","type":"worldmap","z":"f8ddcc582e819059","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":340,"y":800,"wires":[]},{"id":"daa35cd7d6498ace","type":"ui_dropdown","z":"f8ddcc582e819059","name":"Destination Station","label":"Destination Station","tooltip":"","place":"Select option","group":"e73ac0a4661fbd45","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Hyderabd","type":"str"},{"label":"","value":"Delhi","type":"str"},{"label":"","value":"Mumbai","type":"str"},{"label":"","value":"Chennai","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":130,"y":640,"wires":[["ff34baf9ee13614e"]]},{"id":"dfc0d8fc98db0979","type":"ui_dropdown","z":"f8ddcc582e819059","name":"Boarding Station","label":"Boarding Station","tooltip":"","place":"Select option","group":"e73ac0a4661fbd45","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Chennai","type":"str"},{"label":"","value":"Hyderabad","type":"str"},{"label":"","value":"Delhi","type":"str"},{"label":"","value":"Mumbai","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":120,"y":580,"wires":[["caa7f0dcbf8a78fa"]]},{"id":"caa7f0dcbf8a78fa","type":"function","z":"f8ddcc582e819059","name":"Boarding","func":"global.set('b',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":580,"wires":[[]]},{"id":"ff34baf9ee13614e","type":"function","z":"f8ddcc582e819059","name":"Destination","func":"global.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":640,"wires":[[]]},{"id":"8edbb270232c7030","type":"ui_form","z":"f8ddcc582e819059","name":"","label":"","group":"e73ac0a4661fbd45","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Phone Number","value":"phn","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"name":"","phn":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":460,"wires":[["0204894357908a36","f58706b82969b946","a3e0f9a64c6bd45d"]]},{"id":"e9fbe6e7296cbb8d","type":"ui_button","z":"f8ddcc582e819059","name":"","group":"e73ac0a4661fbd45","order":6,"width":0,"height":0,"passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":520,"wires":[["ef3ab548f2a341d0"]]},{"id":"ef3ab548f2a341d0","type":"function","z":"f8ddcc582e819059","name":"","func":"global.set('s1',0)\nglobal.set('s2',0)\nglobal.set('s3',0)\nglobal.set('s4',0)\nglobal.set('s5',0)\nvar a1 = [1,2,3,4,5]\nglobal.set('a',a1)\nmsg.payload = global.get('a')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":520,"wires":[["890cfdd7e8f3cae1"]]},{"id":"0204894357908a36","type":"delay","z":"f8ddcc582e819059","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":460,"wires":[["890cfdd7e8f3cae1"]]},{"id":"f58706b82969b946","type":"function","z":"f8ddcc582e819059","name":"","func":"var s = global.get('s')\nvar a = global.get('a')\n\nfunction rem(x){\n    for(let i=0;i<a.length;i++){\n        if(a[i]==x){\n            a.splice(i,1)\n        }\n    }\n}\n\nif (s==1){\n    global.set('s1',s)\n    rem(s)\n}\nelse if (s==2){\n    global.set('s2',s)\n    rem(s)\n}\nelse if (s==3){\n    global.set('s3',s)\n    rem(s)\n}\nelse if (s==4){\n    global.set('s4',s)\n    rem(s)\n}\nelse if (s==5){\n    global.set('s5',s)\n    rem(s)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":400,"wires":[["e9038155e40dbbea"]]},{"id":"a3e0f9a64c6bd45d","type":"function","z":"f8ddcc582e819059","name":"m","func":"global.set('m',msg.payload)\nvar a = global.get('s')\nif (a==1 || a==2 || a==3 || a==4 || a==5){\n    msg.payload = 0\n}\nelse{\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":340,"wires":[["541c627221283168"]]},{"id":"890cfdd7e8f3cae1","type":"function","z":"f8ddcc582e819059","name":"","func":"var a = global.get('a')\nvar s = []\nfor(let i=0;i<a.length;i++)\n{\n    s.push(a[i])\n    \n}\nif (s.length==0)\n{\n    msg.options = [{\"No seats available\":0}]\n    \n}\nelse\n{\n    msg.options = s\n    \n}\nmsg.payload = s\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":480,"wires":[["e6da6b1ebfe40be9"]]},{"id":"e6da6b1ebfe40be9","type":"ui_dropdown","z":"f8ddcc582e819059","name":"","label":"Seats","tooltip":"","place":"Select option","group":"e73ac0a4661fbd45","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":610,"y":480,"wires":[["54abd3ac6a225391"]]},{"id":"54abd3ac6a225391","type":"function","z":"f8ddcc582e819059","name":"","func":"global.set('s',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":480,"wires":[[]]},{"id":"e9038155e40dbbea","type":"debug","z":"f8ddcc582e819059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":400,"wires":[]},{"id":"541c627221283168","type":"switch","z":"f8ddcc582e819059","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":340,"wires":[["a954de63b58c52e4"],["311ddb8988d67ccc"]]},{"id":"a954de63b58c52e4","type":"function","z":"f8ddcc582e819059","name":"","func":"msg.payload = \"Ticket cannot be booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":340,"wires":[["31564b023c44a4b7"]]},{"id":"311ddb8988d67ccc","type":"function","z":"f8ddcc582e819059","name":"Storing Data in DB","func":"var m = global.get('m')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,19)\nvar d1 = date+','+time\nmsg.payload = {\n\"_id\" :d1,\n\"Name\":m.name,\n\"Age\":m.age,\n\"Mobile\":m.phn,\n\"Boarding\":global.get('b'),\n\"Destination\":global.get('d'),\n\"Seat\":global.get('s')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":260,"wires":[["9aacf3428b9ea375","df6c9ca359b58f23"]]},{"id":"9aacf3428b9ea375","type":"function","z":"f8ddcc582e819059","name":"QR Code data","func":"msg.qrcodeinput = msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["a584fae22d13d3b5","1337f3c1643dc627"]]},{"id":"a584fae22d13d3b5","type":"debug","z":"f8ddcc582e819059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":260,"wires":[]},{"id":"df6c9ca359b58f23","type":"cloudant out","z":"f8ddcc582e819059","name":"booking","cloudant":"f25b9b60f6862cef","database":"booking","service":"_ext_","payonly":true,"operation":"insert","x":360,"y":180,"wires":[]},{"id":"1337f3c1643dc627","type":"qrcode-generator","z":"f8ddcc582e819059","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":510,"y":80,"wires":[["4fb37dd41a46f402","605434825409bace","5153a47510efa797"]]},{"id":"4fb37dd41a46f402","type":"function","z":"f8ddcc582e819059","name":"","func":"msg.payload = \"Ticket is Generated\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":20,"wires":[["693a9562cbb924e1"]]},{"id":"605434825409bace","type":"delay","z":"f8ddcc582e819059","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":160,"wires":[["b86dc61ecd79b62b"]]},{"id":"b86dc61ecd79b62b","type":"function","z":"f8ddcc582e819059","name":"Empty Data","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":160,"wires":[["5153a47510efa797"]]},{"id":"5153a47510efa797","type":"ui_template","z":"f8ddcc582e819059","group":"e73ac0a4661fbd45","name":"","order":5,"width":0,"height":0,"format":"<img src={{\"msg.payload\"}}/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":900,"y":80,"wires":[[]]},{"id":"693a9562cbb924e1","type":"ui_toast","z":"f8ddcc582e819059","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":880,"y":20,"wires":[]},{"id":"31564b023c44a4b7","type":"ui_toast","z":"f8ddcc582e819059","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":800,"y":340,"wires":[]},{"id":"c4bf65cc53634c32","type":"ibmiot","name":"","keepalive":"60","serverName":"iwr7hw.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e73ac0a4661fbd45","type":"ui_group","name":"Stations","tab":"0af7ccf30ca4ffbf","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"f25b9b60f6862cef","type":"cloudant","host":"node-red-dnupx-2022--cloudant-1665866079731","name":""},{"id":"0af7ccf30ca4ffbf","type":"ui_tab","name":"Ticket Booking","icon":"dashboard","disabled":false,"hidden":false}]