Project_Development_Phase/Sprint4/final_flow.json
[{"id":"f8ddcc582e819059","type":"tab","label":"Smart Solutions for Railways","disabled":false,"info":"","env":[]},{"id":"9635998f4d82a2f6","type":"ibmiot in","z":"f8ddcc582e819059","authentication":"apiKey","apiKey":"c4bf65cc53634c32","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":940,"wires":[["3d33e4bdaf1212a6","c4c7922373ccf84c","24fb95e9971c7c86"]]},{"id":"f129e009af7570e4","type":"debug","z":"f8ddcc582e819059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":940,"wires":[]},{"id":"8edbb270232c7030","type":"ui_form","z":"f8ddcc582e819059","name":"","label":"","group":"e73ac0a4661fbd45","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Phone Number","value":"phn","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"name":"","phn":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":680,"wires":[["0204894357908a36","f58706b82969b946","a3e0f9a64c6bd45d"]]},{"id":"0204894357908a36","type":"delay","z":"f8ddcc582e819059","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":680,"wires":[["890cfdd7e8f3cae1"]]},{"id":"f58706b82969b946","type":"function","z":"f8ddcc582e819059","name":"","func":"var s = global.get('s')\nvar a = global.get('a')\n\nfunction rem(x){\n    for(let i=0;i<a.length;i++){\n        if(a[i]==x){\n            a.splice(i,1)\n        }\n    }\n}\n\nif (s==1){\n    global.set('s1',s)\n    rem(s)\n}\nelse if (s==2){\n    global.set('s2',s)\n    rem(s)\n}\nelse if (s==3){\n    global.set('s3',s)\n    rem(s)\n}\nelse if (s==4){\n    global.set('s4',s)\n    rem(s)\n}\nelse if (s==5){\n    global.set('s5',s)\n    rem(s)\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":620,"wires":[["e9038155e40dbbea"]]},{"id":"a3e0f9a64c6bd45d","type":"function","z":"f8ddcc582e819059","name":"m","func":"global.set('m',msg.payload)\nvar a = global.get('s')\nif (a==1 || a==2 || a==3 || a==4 || a==5){\n    msg.payload = 0\n}\nelse{\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":560,"wires":[["541c627221283168"]]},{"id":"e9038155e40dbbea","type":"debug","z":"f8ddcc582e819059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":620,"wires":[]},{"id":"541c627221283168","type":"switch","z":"f8ddcc582e819059","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":560,"wires":[["311ddb8988d67ccc"],["a954de63b58c52e4"]]},{"id":"a954de63b58c52e4","type":"function","z":"f8ddcc582e819059","name":"","func":"msg.payload = \"Ticket cannot be booked\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":560,"wires":[["31564b023c44a4b7"]]},{"id":"311ddb8988d67ccc","type":"function","z":"f8ddcc582e819059","name":"Storing Data in DB","func":"var m = global.get('m')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,19)\nvar d1 = date+','+time\nmsg.payload = {\n    \"_id\" :d1,\n    \"Name\":m.name,\n    \"Age\":m.age,\n    \"Mobile\":m.phn,\n    \"Boarding\":global.get('b'),\n    \"Destination\":global.get('d'),\n    \"Seat\":global.get('s')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":480,"wires":[["9aacf3428b9ea375","eb973d6fdfbc131b"]]},{"id":"9aacf3428b9ea375","type":"function","z":"f8ddcc582e819059","name":"QR Code data","func":"msg.qrcodeinput = msg.payload._id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":480,"wires":[["a584fae22d13d3b5","1337f3c1643dc627"]]},{"id":"a584fae22d13d3b5","type":"debug","z":"f8ddcc582e819059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":480,"wires":[]},{"id":"1337f3c1643dc627","type":"qrcode-generator","z":"f8ddcc582e819059","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":510,"y":140,"wires":[["4fb37dd41a46f402","605434825409bace","5153a47510efa797","01a2ecba4379ac2e","5aba5e680dd49eaf"]]},{"id":"4fb37dd41a46f402","type":"function","z":"f8ddcc582e819059","name":"","func":"msg.payload = \"Ticket is Generated\"\nglobal.set('s',0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":60,"wires":[["693a9562cbb924e1"]]},{"id":"605434825409bace","type":"delay","z":"f8ddcc582e819059","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":220,"wires":[["b86dc61ecd79b62b"]]},{"id":"b86dc61ecd79b62b","type":"function","z":"f8ddcc582e819059","name":"Empty Data","func":"msg.payload = \"\"\nglobal.set('s',0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":220,"wires":[["5153a47510efa797"]]},{"id":"5153a47510efa797","type":"ui_template","z":"f8ddcc582e819059","group":"e73ac0a4661fbd45","name":"","order":5,"width":"6","height":"6","format":"<img src=\"{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1020,"y":140,"wires":[[]]},{"id":"693a9562cbb924e1","type":"ui_toast","z":"f8ddcc582e819059","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":910,"y":60,"wires":[[]]},{"id":"31564b023c44a4b7","type":"ui_toast","z":"f8ddcc582e819059","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":790,"y":560,"wires":[[]]},{"id":"3d33e4bdaf1212a6","type":"ui_worldmap","z":"f8ddcc582e819059","group":"feddcd6b3a8c35cc","order":8,"width":"12","height":"12","name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":320,"y":1160,"wires":[]},{"id":"eb973d6fdfbc131b","type":"cloudantplus out","z":"f8ddcc582e819059","name":"","cloudant":"de22aed535e12e11","database":"booking","service":"_ext_","payonly":true,"operation":"insert","x":260,"y":380,"wires":[[]]},{"id":"01a2ecba4379ac2e","type":"debug","z":"f8ddcc582e819059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"5aba5e680dd49eaf","type":"function","z":"f8ddcc582e819059","name":"","func":"msg.payload = Buffer.from(msg.payload.substr(22), 'base64');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":360,"wires":[["02eb9fe909f838a3","66e7c4dac8aa024c"]]},{"id":"02eb9fe909f838a3","type":"debug","z":"f8ddcc582e819059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":420,"wires":[]},{"id":"66e7c4dac8aa024c","type":"change","z":"f8ddcc582e819059","name":"Mail Content","rules":[{"t":"set","p":"cid","pt":"msg","to":"","tot":"date"},{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'image_' & $replace($now(),\":\",\"_\") & '.jpg', \t    \"content\": $$.payload,\t    \"cid\": \"\" & cid & \"\"\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Ticket Confirmation","tot":"str"},{"t":"set","p":"html","pt":"msg","to":"<img src=\"{{msg.payload}}\">","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["9d4a9e67fcf28ee5","6db00ddd4fc72bf4"]]},{"id":"9d4a9e67fcf28ee5","type":"e-mail","z":"f8ddcc582e819059","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"mejpreethaa@gmail.com","dname":"Send Mail","x":1120,"y":320,"wires":[]},{"id":"6db00ddd4fc72bf4","type":"debug","z":"f8ddcc582e819059","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":420,"wires":[]},{"id":"d2604535b2645635","type":"http in","z":"f8ddcc582e819059","name":"","url":"/gps","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1260,"wires":[["5f466933d63de45a"]]},{"id":"3b7cb0c2b3e07aca","type":"http response","z":"f8ddcc582e819059","name":"","statusCode":"","headers":{},"x":530,"y":1260,"wires":[]},{"id":"c4c7922373ccf84c","type":"function","z":"f8ddcc582e819059","name":"","func":"msg.payload = msg.payload.lat\nglobal.set(\"lat\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":940,"wires":[["f129e009af7570e4"]]},{"id":"5f466933d63de45a","type":"function","z":"f8ddcc582e819059","name":"","func":"msg.payload = {\"latitude\":global.get(\"lat\"), \"longitude\":global.get(\"lon\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1260,"wires":[["3b7cb0c2b3e07aca"]]},{"id":"24fb95e9971c7c86","type":"function","z":"f8ddcc582e819059","name":"","func":"msg.payload = msg.payload.lon\nglobal.set(\"lon\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1040,"wires":[["f129e009af7570e4"]]},{"id":"890cfdd7e8f3cae1","type":"function","z":"f8ddcc582e819059","name":"","func":"var a = global.get('a')\nvar s = []\nfor(let i=0;i<a.length;i++)\n{\n    s.push(a[i])\n    \n}\nif (s.length==0)\n{\n    msg.options = [{\"No seats available\":0}]\n    \n}\nelse\n{\n    msg.options = s\n    \n}\nmsg.payload = s\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":700,"wires":[["e6da6b1ebfe40be9"]]},{"id":"e6da6b1ebfe40be9","type":"ui_dropdown","z":"f8ddcc582e819059","name":"","label":"Seats","tooltip":"","place":"Select option","group":"e73ac0a4661fbd45","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":630,"y":700,"wires":[["54abd3ac6a225391"]]},{"id":"54abd3ac6a225391","type":"function","z":"f8ddcc582e819059","name":"","func":"global.set('s',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":700,"wires":[[]]},{"id":"e64c80b3a77d5a5e","type":"ui_dropdown","z":"f8ddcc582e819059","name":"Destination Station","label":"Destination Station","tooltip":"","place":"Select option","group":"e73ac0a4661fbd45","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Hyderabd","type":"str"},{"label":"","value":"Delhi","type":"str"},{"label":"","value":"Mumbai","type":"str"},{"label":"","value":"Chennai","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":110,"y":860,"wires":[["68a3ea8ae6861870"]]},{"id":"24e9cfc27248d304","type":"ui_dropdown","z":"f8ddcc582e819059","name":"Boarding Station","label":"Boarding Station","tooltip":"","place":"Select option","group":"e73ac0a4661fbd45","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Chennai","type":"str"},{"label":"","value":"Hyderabad","type":"str"},{"label":"","value":"Delhi","type":"str"},{"label":"","value":"Mumbai","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":100,"y":800,"wires":[["102090a0c1247155"]]},{"id":"102090a0c1247155","type":"function","z":"f8ddcc582e819059","name":"Boarding","func":"global.set('b',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":800,"wires":[[]]},{"id":"68a3ea8ae6861870","type":"function","z":"f8ddcc582e819059","name":"Destination","func":"global.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":860,"wires":[[]]},{"id":"2d8548fa6022c4de","type":"ui_button","z":"f8ddcc582e819059","name":"","group":"e47d30d9cf5858dc","order":6,"width":0,"height":0,"passthru":false,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":740,"wires":[["ed5b80349d6af840"]]},{"id":"ed5b80349d6af840","type":"function","z":"f8ddcc582e819059","name":"","func":"global.set('s1',0)\nglobal.set('s2',0)\nglobal.set('s3',0)\nglobal.set('s4',0)\nglobal.set('s',0)\nvar a1 = [1,2,3,4,5]\nglobal.set('a',a1)\nmsg.payload = global.get('a')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":740,"wires":[["890cfdd7e8f3cae1"]]},{"id":"c4bf65cc53634c32","type":"ibmiot","name":"","keepalive":"60","serverName":"iwr7hw.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"e73ac0a4661fbd45","type":"ui_group","name":"Stations","tab":"0af7ccf30ca4ffbf","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"feddcd6b3a8c35cc","type":"ui_group","name":"Live Location","tab":"46f37690fa585201","order":3,"disp":true,"width":"12","collapse":false,"className":""},{"id":"de22aed535e12e11","type":"cloudantplus","host":"https://apikey-v2-1g0tajj2ya23rva420ga3xjhedsh135ljftxzxvqfxwq:82bca5b0a21ab96b35d79d5651c15947@8bdd9d2e-653d-460c-95cb-e02b5803b7ca-bluemix.cloudantnosqldb.appdomain.cloud","name":"","useapikey":false},{"id":"e47d30d9cf5858dc","type":"ui_group","name":"Data Management","tab":"aae4ff979cb99a13","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0af7ccf30ca4ffbf","type":"ui_tab","name":"Booking","icon":"dashboard","disabled":false,"hidden":false},{"id":"46f37690fa585201","type":"ui_tab","name":"Tracking","icon":"dashboard","disabled":false,"hidden":false},{"id":"aae4ff979cb99a13","type":"ui_tab","name":"Admin","icon":"dashboard","order":3,"disabled":false,"hidden":false}]